<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_56f8e4899253c2516db68483d7a84e36 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_56f8e4899253c2516db68483d7a84e36" ></div>
        
</body>
<script>
    
    
            var map_56f8e4899253c2516db68483d7a84e36 = L.map(
                "map_56f8e4899253c2516db68483d7a84e36",
                {
                    center: [50.531769, 14.132685],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8bb2e3d898595ff58024285c9ad5b611 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca target=\"_blank\" href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca target=\"_blank\" href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var marker_b045d29973966e0ff4e9bed6b73058e1 = L.marker(
                [50.531769, 14.132685],
                {}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var circle_c0784677de2d7c390506bfaa384d4a7e = L.circle(
                [50.531769, 14.132685],
                {"bubblingMouseEvents": true, "color": "#4285F4", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4285F4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 36.27943515422272, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
        var popup_42499c70704b25eede4d08e7a5e0107d = L.popup({"maxWidth": "100%"});

        
            
                var html_c1d26162b9a7c7a06050b063046527c2 = $(`<div id="html_c1d26162b9a7c7a06050b063046527c2" style="width: 100.0%; height: 100.0%;">The Waterfront</div>`)[0];
                popup_42499c70704b25eede4d08e7a5e0107d.setContent(html_c1d26162b9a7c7a06050b063046527c2);
            
        

        circle_c0784677de2d7c390506bfaa384d4a7e.bindPopup(popup_42499c70704b25eede4d08e7a5e0107d)
        ;

        
    
    
            var poly_line_c321d40965ef449008ecc3249c9d4436 = L.polyline(
                [[50.604955, 14.074385], [50.603508, 14.074269]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_9a04f46c0faeed8645e6356ed8c9dad5 = L.polyline(
                [[50.603508, 14.074269], [50.601512, 14.073209]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_6b39f7835980035853f3eac496d131bb = L.polyline(
                [[50.601512, 14.073209], [50.599092, 14.071911]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_a3d72b0f7a8480b161ef586ed896ecdb = L.polyline(
                [[50.599092, 14.071911], [50.597886, 14.070933]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_eb84d38309ee3407c2e693e0367e2da6 = L.polyline(
                [[50.597886, 14.070933], [50.596622, 14.069806]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_614521ccf47fe3ae318f8892a82c17af = L.polyline(
                [[50.596622, 14.069806], [50.596084, 14.068163]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_d6fc7546f7b4d839a423ed3443f1d22e = L.polyline(
                [[50.596084, 14.068163], [50.595469, 14.068049]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_61629eb98b8a9604de6e1c4121d02152 = L.polyline(
                [[50.595469, 14.068049], [50.595193, 14.066288]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_0bd1f2399d1f5e85271feb6c7e5e9e00 = L.polyline(
                [[50.595193, 14.066288], [50.59451, 14.065153]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_25c35c24b9a01058c47f44fa01ddffec = L.polyline(
                [[50.59451, 14.065153], [50.593852, 14.0632]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_5118e462371cb832ade0abe2754e2e12 = L.polyline(
                [[50.593852, 14.0632], [50.593373, 14.059669]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_08e37632d75ec2c46eab6d5b2ed7e0d8 = L.polyline(
                [[50.593373, 14.059669], [50.593312, 14.058613]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_4ab7f1dbc19dce229358d691a45f2064 = L.polyline(
                [[50.593312, 14.058613], [50.592576, 14.057985]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_29e40dbae8fc41a182d18a3acd3d2685 = L.polyline(
                [[50.592576, 14.057985], [50.592539, 14.056141]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_f61b91df74743f85a963317a5a064faa = L.polyline(
                [[50.592539, 14.056141], [50.592633, 14.052916]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_61faaf294ce563cd8344319aedc08805 = L.polyline(
                [[50.592633, 14.052916], [50.592638, 14.050304]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_b1ee92767a7899758851d0a1e73a3425 = L.polyline(
                [[50.592638, 14.050304], [50.59299, 14.046673]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_eb10f5ecf192ae932a7f102f96546277 = L.polyline(
                [[50.59299, 14.046673], [50.591672, 14.042307]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_1f2fe8aeb451e6f4d5a9001f28c50591 = L.polyline(
                [[50.591672, 14.042307], [50.589625, 14.038391]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_1955adcc690788621513cc65c7022ec1 = L.polyline(
                [[50.589625, 14.038391], [50.589696, 14.037358]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_236ce1baefe500c1b5a50094c417e90f = L.polyline(
                [[50.589696, 14.037358], [50.589711, 14.0368]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_1282ca7dc2768b89cf09fa61af4a5664 = L.polyline(
                [[50.589711, 14.0368], [50.590073, 14.034408]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_514d1bf3679edf0635a4321c680fda47 = L.polyline(
                [[50.590073, 14.034408], [50.588987, 14.033319]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_ce15d5238f58c778e48bb4a64302638a = L.polyline(
                [[50.588987, 14.033319], [50.588039, 14.032826]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_b7f49ddbae5115effce7d2c739fbf3aa = L.polyline(
                [[50.588039, 14.032826], [50.586252, 14.032949]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_7836556739cb8d1f950d6830fdb81c16 = L.polyline(
                [[50.586252, 14.032949], [50.584745, 14.03364]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_a9ee74606bde393e73aea26c68ba992e = L.polyline(
                [[50.584745, 14.03364], [50.582965, 14.035173]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_d16e0ae237562ee10ab309747be61146 = L.polyline(
                [[50.582965, 14.035173], [50.581238, 14.036927]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_aba2857a9f25124ee6d11f97bdc6e6b9 = L.polyline(
                [[50.581238, 14.036927], [50.580277, 14.038268]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_4ebbc35586a25ef38dc1b86a42d702cd = L.polyline(
                [[50.580277, 14.038268], [50.578509, 14.039747]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_afbaa99c00a374e280618e2c4a7be619 = L.polyline(
                [[50.578509, 14.039747], [50.577978, 14.040135]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_00fd847b9a7b038a8897264a6e99b430 = L.polyline(
                [[50.577978, 14.040135], [50.575939, 14.041536]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_1ccbb0b122a718e5075a19689c19fbbf = L.polyline(
                [[50.575939, 14.041536], [50.57342, 14.043247]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_1ab38e54090739ace5f9dbb596c046a1 = L.polyline(
                [[50.57342, 14.043247], [50.571411, 14.043574]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_5bdada0571e7302e24d9c439fb75bb0f = L.polyline(
                [[50.571411, 14.043574], [50.569299, 14.041921]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_b890f6b134f2c5ec3a057de67b851694 = L.polyline(
                [[50.569299, 14.041921], [50.567888, 14.039857]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_f0d5b8c45a416a8a026162ae02c7408c = L.polyline(
                [[50.567888, 14.039857], [50.565416, 14.040529]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_43f3aeafa6fcdcc66dabca669a35edd5 = L.polyline(
                [[50.565416, 14.040529], [50.563289, 14.040282]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_6bcbcfe65bba675ebedef497ad82c193 = L.polyline(
                [[50.563289, 14.040282], [50.561546, 14.03914]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_915cf42a902ddab32cefd91a7c8dc0e5 = L.polyline(
                [[50.561546, 14.03914], [50.558731, 14.038997]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_51c703d5f82d13974e2a70d4876a0920 = L.polyline(
                [[50.558731, 14.038997], [50.557146, 14.038506]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_3c48b4ea14b6ffef7f6d7100e1cc228f = L.polyline(
                [[50.557146, 14.038506], [50.555664, 14.03876]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_d834aa26ab04bb7ae13a6057aac56da5 = L.polyline(
                [[50.555664, 14.03876], [50.554017, 14.039896]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_1379ca7a1ed93d2fe867efe9c473cf8b = L.polyline(
                [[50.554017, 14.039896], [50.551496, 14.040916]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_c0e19e35fc3efce63a677a2755875939 = L.polyline(
                [[50.551496, 14.040916], [50.549513, 14.041642]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_96d3f5e80d10297708a94046823368f2 = L.polyline(
                [[50.549513, 14.041642], [50.547661, 14.043226]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_86398e47d9fc84041419021a469c30be = L.polyline(
                [[50.547661, 14.043226], [50.546569, 14.046287]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_1a4580c4038aa89fcc6e8992483d3cc0 = L.polyline(
                [[50.546569, 14.046287], [50.545736, 14.049937]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_d900956352f067a1e503a49be4c9622e = L.polyline(
                [[50.545736, 14.049937], [50.545534, 14.053961]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_e5187cbf43020819629025c117fc60bf = L.polyline(
                [[50.545534, 14.053961], [50.544678, 14.057958]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_2d8b856e427c11c2bfe1ec3f7b3ff72f = L.polyline(
                [[50.544678, 14.057958], [50.543168, 14.060214]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_dc715da13b5cfe3f7abeb48933a906a8 = L.polyline(
                [[50.543168, 14.060214], [50.541224, 14.061496]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_2a6fd745fe3270354f172d9e917ab78d = L.polyline(
                [[50.541224, 14.061496], [50.539363, 14.062634]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_8dab00ec86403d0b94ffa17c59fe477e = L.polyline(
                [[50.539363, 14.062634], [50.537723, 14.063608]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_557635ed8681ad2d4f6dda0fb5535662 = L.polyline(
                [[50.537723, 14.063608], [50.535656, 14.065624]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_4feed9c7bd3574e81365f0657e8ed772 = L.polyline(
                [[50.535656, 14.065624], [50.534326, 14.066285]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_0a30d2a0eb6534b726df2b5a43fb537f = L.polyline(
                [[50.534326, 14.066285], [50.53333, 14.067457]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_799d8937de771c920aec6c7ce39fb476 = L.polyline(
                [[50.53333, 14.067457], [50.531719, 14.068964]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_337d2798346289be23df633ac03f00ce = L.polyline(
                [[50.531719, 14.068964], [50.530215, 14.070826]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_642cfbb78388cb23daf431913d654d48 = L.polyline(
                [[50.530215, 14.070826], [50.529493, 14.07317]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_b93ba4b0b53ee89f0781ab30e9e8ede3 = L.polyline(
                [[50.529493, 14.07317], [50.528494, 14.075419]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_0e4066fdd0cd8d87e509cd06ab076c1c = L.polyline(
                [[50.528494, 14.075419], [50.526991, 14.077768]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_67b74ef01f2ba53d3b07be312ac05123 = L.polyline(
                [[50.526991, 14.077768], [50.525114, 14.080674]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_8c10365e4ec6112efbacc4bfaedf9d44 = L.polyline(
                [[50.525114, 14.080674], [50.522713, 14.080336]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_a682e6d961883a816f1dc50bca1d4483 = L.polyline(
                [[50.522713, 14.080336], [50.521575, 14.080506]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_1ade2a5790d2bd0df2f79fd3c9d9c6a9 = L.polyline(
                [[50.521575, 14.080506], [50.521647, 14.081882]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_ab03b9f60a5510fc6d379cb6af892fca = L.polyline(
                [[50.521647, 14.081882], [50.522134, 14.085432]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_04dda6d9f536d4fe7e52f63ac2e9a630 = L.polyline(
                [[50.522134, 14.085432], [50.522291, 14.08729]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_dc5781f963799ae604db08fab14d84be = L.polyline(
                [[50.522291, 14.08729], [50.522162, 14.086961]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_a09cba0a6d89a63eb0465bf5986d8bb9 = L.polyline(
                [[50.522162, 14.086961], [50.522176, 14.086995]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_1552dd2e310ce95e54b4ea4f7fcfadc5 = L.polyline(
                [[50.522176, 14.086995], [50.522165, 14.086935]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_f4f4b95912103e4715a1fc19705cbce4 = L.polyline(
                [[50.522165, 14.086935], [50.522161, 14.086989]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_7ed6105dd11d66ff8d762f5a71635907 = L.polyline(
                [[50.522161, 14.086989], [50.52223, 14.087116]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_5e958532394fcc17cf0a39320e686104 = L.polyline(
                [[50.52223, 14.087116], [50.522699, 14.08906]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_5a4c7438cb5f3fe11daec117d619cb54 = L.polyline(
                [[50.522699, 14.08906], [50.52331, 14.092415]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_5e43dbce6f656184317ac2d5fa48ba97 = L.polyline(
                [[50.52331, 14.092415], [50.52404, 14.095259]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_6cc807995e795a2235c5973e0dcc064f = L.polyline(
                [[50.52404, 14.095259], [50.524699, 14.097693]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_109b2c551a9f48597a848bf2874fd4cb = L.polyline(
                [[50.524699, 14.097693], [50.525364, 14.099707]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_8b301aebec95252d25bc666267d46958 = L.polyline(
                [[50.525364, 14.099707], [50.525363, 14.099695]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_390dca0488a9a1a027fdd920862558e7 = L.polyline(
                [[50.525363, 14.099695], [50.526154, 14.10118]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_2abc74dc648b30ef08880d0e6f028938 = L.polyline(
                [[50.526154, 14.10118], [50.527685, 14.103697]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_fdb4fe1e2b33a31768b22d67e836c03d = L.polyline(
                [[50.527685, 14.103697], [50.529546, 14.107328]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_66aa32854c677263d773f23d6c1d9180 = L.polyline(
                [[50.529546, 14.107328], [50.53081, 14.110245]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_43dbe51616cc2aadcdbda3e2c74d5081 = L.polyline(
                [[50.53081, 14.110245], [50.53092, 14.11071]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_b862909597e84d19c5a1e45e3365e910 = L.polyline(
                [[50.53092, 14.11071], [50.53087, 14.110873]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_968ce4c2b70c52574a628ccdd4856e4d = L.polyline(
                [[50.53087, 14.110873], [50.53137, 14.111706]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_f108b50e42faf3f4fc1f5fa6a4306189 = L.polyline(
                [[50.53137, 14.111706], [50.532365, 14.114955]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_534e875e85da263272bccd0a8c53c7c3 = L.polyline(
                [[50.532365, 14.114955], [50.532581, 14.117886]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_89f67acd6f70a5f7795f04239c29dc3d = L.polyline(
                [[50.532581, 14.117886], [50.532758, 14.121537]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_1e940dedaed776e00719924c010fa4eb = L.polyline(
                [[50.532758, 14.121537], [50.533673, 14.123328]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_92c9ec29038d038d793881e4046e0b1c = L.polyline(
                [[50.533673, 14.123328], [50.535527, 14.124505]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_02f9a4f35165d304940c013f48b115a5 = L.polyline(
                [[50.535527, 14.124505], [50.534842, 14.125876]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_30806821fcbd5fc710a9de4bcf05e7ee = L.polyline(
                [[50.534842, 14.125876], [50.534312, 14.125615]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_a679f1fcdd20cedb3f811e311898d00e = L.polyline(
                [[50.534312, 14.125615], [50.533648, 14.125029]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_0c96c037b93e6d629da6fe5309234d0f = L.polyline(
                [[50.533648, 14.125029], [50.532194, 14.125056]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_403a6bdb06dd0ec7045c0fed2993544e = L.polyline(
                [[50.532194, 14.125056], [50.531203, 14.125503]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_aba96a0dcc328deff7beac022e085a03 = L.polyline(
                [[50.531203, 14.125503], [50.530638, 14.12725]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_d084858bb58ba1a125476da2648870eb = L.polyline(
                [[50.530638, 14.12725], [50.530595, 14.128529]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_40358daa7872c7dd84f420ec30f9fbd6 = L.polyline(
                [[50.530595, 14.128529], [50.530728, 14.130735]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_9f1866200daabcfdb839ad709753dc49 = L.polyline(
                [[50.530728, 14.130735], [50.531312, 14.132251]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
    
            var poly_line_1ef3b1d8bdd1493ed2c53999cd396950 = L.polyline(
                [[50.531312, 14.132251], [50.531769, 14.132685]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_56f8e4899253c2516db68483d7a84e36);
        
</script>
</html>