<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a483a7ca61cfeef5550f1c7c5b76df23 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_a483a7ca61cfeef5550f1c7c5b76df23" ></div>
        
</body>
<script>
    
    
            var map_a483a7ca61cfeef5550f1c7c5b76df23 = L.map(
                "map_a483a7ca61cfeef5550f1c7c5b76df23",
                {
                    center: [49.78777, 14.712777],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7565e08f3d9aa7274eb61087bf6a3213 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca target=\"_blank\" href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca target=\"_blank\" href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a483a7ca61cfeef5550f1c7c5b76df23);
        
    
            var marker_3c5d763b42aea1f7e208f2ce9c737d6f = L.marker(
                [49.78777, 14.712777],
                {}
            ).addTo(map_a483a7ca61cfeef5550f1c7c5b76df23);
        
    
            var circle_a148d03673f4cdb4157703098a184940 = L.circle(
                [49.78777, 14.712777],
                {"bubblingMouseEvents": true, "color": "#4285F4", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4285F4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.45160725910595, "stroke": true, "weight": 3}
            ).addTo(map_a483a7ca61cfeef5550f1c7c5b76df23);
        
    
        var popup_f0205bf2c4ff2db2415330e73d42af54 = L.popup({"maxWidth": "100%"});

        
            
                var html_d5ccdd0816de2539207b6108ab0d0d92 = $(`<div id="html_d5ccdd0816de2539207b6108ab0d0d92" style="width: 100.0%; height: 100.0%;">The Waterfront</div>`)[0];
                popup_f0205bf2c4ff2db2415330e73d42af54.setContent(html_d5ccdd0816de2539207b6108ab0d0d92);
            
        

        circle_a148d03673f4cdb4157703098a184940.bindPopup(popup_f0205bf2c4ff2db2415330e73d42af54)
        ;

        
    
    
            var poly_line_3d69ead31799e89897468f44c791c823 = L.polyline(
                [[49.78777, 13.512777], [48.78777, 13.512777]],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a483a7ca61cfeef5550f1c7c5b76df23);
        
    
            var poly_line_bcd4622fb90d24752598f8178b38c3a7 = L.polyline(
                [[48.78777, 13.512777], [50.78777, 14.512777]],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a483a7ca61cfeef5550f1c7c5b76df23);
        
    
            var poly_line_6904b05abe8af5d1dabcaf71f2e79723 = L.polyline(
                [[50.78777, 14.512777], [49.78777, 14.712777]],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a483a7ca61cfeef5550f1c7c5b76df23);
        
</script>
</html>