<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2c4646ebb29214880ebafb9c7781e34a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_2c4646ebb29214880ebafb9c7781e34a" ></div>
        
</body>
<script>
    
    
            var map_2c4646ebb29214880ebafb9c7781e34a = L.map(
                "map_2c4646ebb29214880ebafb9c7781e34a",
                {
                    center: [50.675904, 14.031051],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5437928cf3f760f0d6f69126f231dfe9 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca target=\"_blank\" href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca target=\"_blank\" href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2c4646ebb29214880ebafb9c7781e34a);
        
    
            var marker_349839e521f1ff8efa287da370971649 = L.marker(
                [50.675904, 14.031051],
                {}
            ).addTo(map_2c4646ebb29214880ebafb9c7781e34a);
        
    
            var circle_e8e866df21f90ab19e455be944d1b803 = L.circle(
                [50.675904, 14.031051],
                {"bubblingMouseEvents": true, "color": "#4285F4", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4285F4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 49.85624204017617, "stroke": true, "weight": 3}
            ).addTo(map_2c4646ebb29214880ebafb9c7781e34a);
        
    
        var popup_6dbd2e659476e40592c430d4d51075b0 = L.popup({"maxWidth": "100%"});

        
            
                var html_64a2b13aefa4a5f16f0627fa9243963e = $(`<div id="html_64a2b13aefa4a5f16f0627fa9243963e" style="width: 100.0%; height: 100.0%;">The Waterfront</div>`)[0];
                popup_6dbd2e659476e40592c430d4d51075b0.setContent(html_64a2b13aefa4a5f16f0627fa9243963e);
            
        

        circle_e8e866df21f90ab19e455be944d1b803.bindPopup(popup_6dbd2e659476e40592c430d4d51075b0)
        ;

        
    
    
            var poly_line_4204f710c35ab6f361dbe0814da9f691 = L.polyline(
                [[50.678954, 14.036598], [50.677353, 14.034565]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_2c4646ebb29214880ebafb9c7781e34a);
        
    
            var poly_line_fd625f6d5dc2025a7fefb5d63a439ffc = L.polyline(
                [[50.677353, 14.034565], [50.676102, 14.031526]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_2c4646ebb29214880ebafb9c7781e34a);
        
    
            var poly_line_4013417ca0c7147e8c935017f67b5289 = L.polyline(
                [[50.676102, 14.031526], [50.675904, 14.031051]],
                {"bubblingMouseEvents": true, "color": "#000000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#000000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_2c4646ebb29214880ebafb9c7781e34a);
        
</script>
</html>